.h-wrapper{
    /* background: rgba(0, 0, 0, 0.89); */
    width: 100%;
    color: white;
    border-bottom: 1px rgba(255,255,255,.4) solid;
    z-index: 1000000000000000;
    position: absolute;
}

.sticky{
  position: fixed;
  box-shadow: 10px 12px 48px rgba(181, 187, 203, .206);
  background: white;
  top: 0;
  transition: ease-in-out 400ms;
}

.h-container{
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    color: var(--secondary);
}

.sticky .h-container .h-menu{
  color: #3d3d3d;
  padding: 1rem;
}

.sticky .h-container .h-menu .dropdown .dropbtn{
  color: #3d3d3d;
  padding: 1rem;
}

.h-menu{
    gap: 4.5rem;
    color: azure;
    font-size: 1.15rem;
    font-weight: 500;

}

.h-menu>*:hover{
    cursor: pointer;
}

.menu-icon {
    display: none;
  }

  * {
    box-sizing: border-box;
  }
  
  .dropbtn {
    /* background: #04aa6d; */
    color: #fff;
  }
  
  .drobdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    background: #f1f1f1;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 17px;
    font-size: 18px;
  }
  
  .dropdown-content a:hover {
    background: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    /* background: #181f18; */
    color: #719150;
  }
  
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }

    .sticky .menu-icon {
      display: block;
      color: var(--black);
    }

    .h-menu {
      color: var(--black);
      position: absolute;
      gap: 2rem;
      font-weight: 500;
      flex-direction: column;
      right: 4rem;
      top: 3rem;
      background: white;
      display: flex;
      z-index: 999;
      border-radius: 10px;
      transition: all 200ms ease;
      align-items: flex-start;
      padding: 3rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); 
    }

    .dropbtn {
      /* background: #04aa6d; */
      color: var(--black);
    }

    .dropdown:hover .dropbtn {
      /* background: #181f18; */
      color: #719150;
    }

    .dropdown-content {
      display: none;
      /* background: #f1f1f1; */
      /* background: red; */
      min-width: 160px;
      position: absolute;
      z-index: 1;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    
  }