:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --green: #5dd693;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb97836 0%, #e0cc6b69 100%);
  --blue: #4066ff;
  --shadow: 10px 12px 48px rgba(181, 187, 203, .206);
  --lightBlue: #eeeeff;
  --hcolor: #221577;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
  --grey: #867eb5;
  --frie: #f7f3e6;
  
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #3d3d3d;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}

.orangeText {
  color: #719150;
  font-size: 1.5rem;
  font-weight: 600;
}

.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  /* background: var(--blue-gradient); */
  background-color: #378b29;
  background-image: linear-gradient(315deg, #378b29 0%, #74d680 74%);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;

}

.App {
  position: relative;
  transition: all 300ms ease-out;
  overflow: hidden;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tag {
  color: #00caf9;
  font-size: 1.5rem;
  font-weight: bold;
}

.title {
  color: #221577;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 3.5rem;
  text-transform: capitalize;
}

.sec-title {
  font-size: 2.6rem;
  color: #3d3d3d;
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  text-transform: capitalize;
}

.description {
  font-size: 1.1rem;
  color: #131110;
  line-height: 1.8rem;
}

.text {
  font-size: 16px;
  font-weight: 500;
  color: rgb(140, 139, 139);
  line-height: 2rem
}

.text2 {
  font-size: 1.1rem;
  color: #655e8a;
  line-height: 2rem;
}

.block-features {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

}

.block-feature {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  border: 1px solid hsla(0, 0%, 59%, 0.17);
  border-radius: 1rem;
  padding: 1rem;

  color: #221577;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 500;
  height: fit-content;
}

.wwd-block:nth-child(1)>.block-features>:nth-child(2) {
  margin-top: 3rem;
}

.wwd-block:nth-child(2)>.block-features>:nth-child(1),
.wwd-block:nth-child(2)>.block-features>:nth-child(3) {
  margin-top: 2rem;
}

.wwd-support1{
  display: flex;
  padding: 2rem;
  /* box-shadow: var(--shadow); */
  border-radius: 1rem;
  border-bottom: 1px rgba(255,255,255,.4) solid;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  background: white;
}
.wwd-support1 > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1rem; */

}
.wwd-support{
  display: flex;
  padding: 2rem;
  padding-top: 0;
  /* box-shadow: var(--shadow); */
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 2.5rem; */
  background: white;
}

.wwd-support > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

}

.wwd-support > :nth-child(1){
  flex: 1;
}

.wwd-support > :nth-child(2){
  flex: 1.6;
}


@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }

  .sec-title {
    font-size: 1.8rem;
  }

  .des {
    font-size: 1.2rem;
  }
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px),
(min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }

  .orangeText {
    font-size: 1.2rem;
  }
}